name: Build and Release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"
  pull_request:
    types:
      - "opened"
      - "synchronize"

env:
  REGISTRY: "ghcr.io"
  IMAGE_NAME: "stabl-energy/spacelift-runner-cdktf"
  PLATFORMS: "linux/arm64,linux/amd64"

permissions:
  actions: read
  contents: write
  packages: write

jobs:
  build:
    name: Build & Upload Docker image
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # commit event
            type=sha,format=long
            # branch event
            type=ref,event=branch
            # pull request event
            type=ref,event=pr
            # tag event
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ env.PLATFORMS }}
          push: ${{ github.event_name != 'schedule' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  release:
    name: Create and upload release
    runs-on: ubuntu-22.04
    needs: [build]
    if: ${{ github.ref_type == 'tag' }}
    steps:
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
